.piece-move {
    --origin-left : 0px ;
    --origin-top : 0px ;
    position: relative;
    left: var(--end);
    animation-duration: .2s;
    animation-name: slidein;
    animation-timing-function: ease-out;
}

@keyframes slidein  {
    from {
      left: var(--origin-left);
      top: var(--origin-top)
    }
  
    to {
      left: 0;
      top: 0
    }
}